# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Outputs
outputs/
results/
logs/
*.log

# Models
*.zip
*.pt
*.pth
*.pkl

# Jupyter
.ipynb_checkpoints/

# HoloOcean / external source
external/
holoocean/

# OS
.DS_Store
Thumbs.db

# Secrets
*.pem
*.key
id_ed25519
id_ed25519.pub